@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 100% 98%;
    --foreground: 160 50% 10%;
    --primary: 160 84% 39%;
    --primary-foreground: 160 10% 100%;
    --secondary: 150 100% 95%;
    --secondary-foreground: 160 50% 20%;
    --muted: 150 30% 90%;
    --muted-foreground: 160 20% 40%;
  }
}

body {
  @apply bg-background text-foreground antialiased;
}
